<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".applicationPreference.ControllerApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.premium.ConsumptionRewardScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.payment.TransactionHistoryScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.payment.TransactionDetailScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.premium.TopUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.payment.CheckoutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.payment.PaymentIntegrationScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.premium.PremiumMemberActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.premium.PremiumActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.setting.SettingAppActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.setting.GiftsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.language.ReadyToWatchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.language.YoureAllSetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.language.OnboardingMyListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.language.PlayerFeaturesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.language.ForYouPageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.language.HomepageFeaturesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.language.PreferencesSavedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.language.ContentPreferenceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.language.LanguagePreferenceSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.language.LanguageMoreActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.language.LanguagePreferenceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.language.LanguageSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.language.LanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.setting.MyWalletActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.OtpReceiveScreen"
            android:exported="false"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".activity.login.OTPReceiver"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.search.SearchSeriesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.LoginMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.full_reels.ReelsShowActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboardHidden|uiMode"
            android:exported="false"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true" />
        <activity
            android:name=".activity.main.activity.HomeScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.activity.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApp.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".ads.FirebaseMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2256714742649688~6945348183" />

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />
    </application>

</manifest>